In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Data/boston.csv')

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
data.shape

(506, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [6]:
data.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [7]:
data.fillna(0, inplace=True)

In [8]:
x = data.drop('MEDV', axis=1)
y = data['MEDV']

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=10)

In [10]:
from sklearn.linear_model import ElasticNet

enet = ElasticNet(alpha=1.0, l1_ratio=0.5)

In [11]:
enet.fit(x_train, y_train)

ElasticNet()

In [12]:
enet.coef_

array([-1.29814482e-01,  7.24587042e-02, -5.69982001e-02,  0.00000000e+00,
       -0.00000000e+00,  9.45588146e-01,  7.54018497e-04, -8.72899098e-01,
        2.65215113e-01, -1.52705830e-02, -6.52986441e-01,  1.02813985e-02,
       -5.96348225e-01])

In [13]:
ser = pd.Series(enet.coef_, index=x_train.columns)
ser

CRIM      -0.129814
ZN         0.072459
INDUS     -0.056998
CHAS       0.000000
NOX       -0.000000
RM         0.945588
AGE        0.000754
DIS       -0.872899
RAD        0.265215
TAX       -0.015271
PTRATIO   -0.652986
B          0.010281
LSTAT     -0.596348
dtype: float64

In [14]:
ser.sort_values(ascending=False)

RM         0.945588
RAD        0.265215
ZN         0.072459
B          0.010281
AGE        0.000754
CHAS       0.000000
NOX       -0.000000
TAX       -0.015271
INDUS     -0.056998
CRIM      -0.129814
LSTAT     -0.596348
PTRATIO   -0.652986
DIS       -0.872899
dtype: float64

* Top coef columns are chosen.