In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = sns.load_dataset('tips')

In [3]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
data.shape

(244, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [6]:
from sklearn.preprocessing import LabelEncoder

lbn = LabelEncoder()

In [7]:
data['sex'] = lbn.fit_transform(data['sex'])
data['smoker'] = lbn.fit_transform(data['smoker'])
data['day'] = lbn.fit_transform(data['day'])
data['time'] = lbn.fit_transform(data['time'])

In [8]:
data.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [9]:
x = data.drop('tip', axis=1)
y = data['tip']

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

rfe = RFE(LinearRegression(), n_features_to_select=3)

In [12]:
rfe.fit(x_train, y_train)

RFE(estimator=LinearRegression(), n_features_to_select=3)

In [13]:
rfe.support_

array([False, False,  True,  True, False,  True])

In [14]:
x.columns[rfe.support_]

Index(['smoker', 'day', 'size'], dtype='object')

In [18]:
rfe.ranking_

array([3, 4, 1, 1, 2, 1])